@import '../css/body.css';

.container {
    display: flex;
    width: 60%;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
}
section .formbox {
    width: 60%;
    display: flex;
    padding: 20px;
    gap:80px;
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.formbox > label {
    margin-bottom: -70px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: gray;
}
.formbox > input {
    border: none;
    border-bottom: 1px solid #F6F6F6;
    font-size: 18px;
    padding-inline: 2px;
    line-height: 18px;
}
.formbox > input:focus {
    outline-width: 0;
}
.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/blue-mountain.jpg);
    background-size: cover;
    width: 40%;
    height: 700px;
    min-width: 0;
}
.copy, .copy a, .btn {
    color: white;
}
.copy a {
    text-decoration: underline rgba(255, 255, 255, 0.5)  
}
.copy {
    text-align: center;
    margin-bottom: 20px;
}
.cap {
    text-transform: capitalize;
}
.signup {
    padding: 40px;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 5px;
    color: #3CC3FB;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.buttons, .btn, .buttons > a {
    font-size: 20px;
    text-decoration: none;
    line-height: 20px;
}
.buttons > a {
    margin-left: 16px;
}
.btn {
    border: none;
    padding: 12px 60px;
    border-radius: 99px;
    margin-right: 20px;
    background-image: linear-gradient(to right, #264BD2,#0661DD);
    
}
@media (max-width:460px) {
    .container {
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        justify-content: center;
    }
    section .formbox {
        flex-wrap: wrap;
        background-color: transparent;
        justify-content: center;
        padding: 20px;
    }
    .formbox > input {
       background-color: rgba(255, 255, 255, 0);
    }
    .side {
        display: none;
    }
    .buttons {
        gap:20px;
        justify-content: center;
    }
    .buttons, .buttons a {
        color: white;
    }
}